*.class
*.log
*.swp
*.pyc
*.tagsShared
*.tagsComp
*.tags
*.tagsFramework
*.tagsRuntime
# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Delite-specific
auto*
*.deg
*.mybak
generated/
generatedCache/
